version: '3.8'

services:
  backend:
    build: ./backend
    container_name: sim-kopukm-backend
    env_file:
      - ./backend/.env
    ports:
      - "4849:4849"
    restart: always
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: sim-kopukm-frontend
    ports:
      - "3000:3000"
    restart: always
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
